@using IcSoft.Infrastructure.Models
@using Microsoft.AspNetCore.Identity
@model HeaderViewModel
@inject UserManager<ShopUser> UserManager
@inject IConfiguration Config
@{
    var user = await UserManager.GetUserAsync(User);
    var DomainCms = Config["AppSettings:DomainCMS"];
}
 <!-- Mobile Menu -->
<nav class="mobile-menu">
    <div class="menu-left">
        <!-- Open Bar (Menu Icon) -->
        <a href="#" class="menu-icon" id="list">
            <i class="bi bi-list"></i>
        </a>
        <!-- Mobile Menu Content -->
        <div id="slideInMenu" class="slide-in-menu">

            <!-- Phần trên cùng -->
            <div class="slidermenu-top">
                <div class="icon-user">
                    <i class="bi bi-person"></i>
                </div>
                <div class="account-info">
                    <div class="account-top">
                        <ul class="account-ul">
                            <li>
                                @await Html.PartialAsync("_LoginPartial")
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Phần bên dưới -->
            <div class="slidermenu-bottom">
                <ul class="menu-items">
                    <li>
                        <a asp-controller="Product" asp-action="Shop">Sản phẩm</a>
                        <span id="showProductsMenu" class="arrow-icon"><i class="bi bi-chevron-right"></i></span>
                    </li>
                    <li>
                        <a href="#">Bộ sưu tập</a>
                        <span id="showCollectionsMenu" class="arrow-icon"><i class="bi bi-chevron-right"></i></span>
                   </li>
                    <li><a href="/Sale">Sale</a></li>
                    <li><a href="#">Thư viện</a></li>
                    <li><a href="#">Giới thiệu</a></li>
                </ul>
            </div>
        </div>

        <!-- Menu Trượt cho Sản Phẩm -->
        <div id="productsMenu" class="slide-in-menu submenu">
            <div class="submenu-top">
                <a href="#" id="backToMainMenu" class="back-button"><i class="bi bi-arrow-left"></i> Quay lại</a>
            </div>
            <div class="slidermenu-bottom">
                <ul class="menu-items">
                    <!-- Các danh mục sản phẩm -->
                    @foreach (var category in Model.categories)
                    {
                        <li><a asp-controller="Product" asp-action="ShopSearch" asp-route-searchname="@category.CategoryName.Replace(" ","-").ToLower()">@category.CategoryName</a></li>
                    }
                </ul>
            </div>
        </div>

        <!-- Menu Trượt cho Bộ Sưu Tập -->
        <div id="collectionsMenu" class="slide-in-menu submenu">
            <div class="submenu-top">
                <a href="#" id="backToMainMenuFromCollections" class="back-button"><i class="bi bi-arrow-left"></i> Quay lại</a>
            </div>
            <div class="slidermenu-bottom">
                <ul class="menu-items">
                    <!-- Các danh mục bộ sưu tập -->
                    @foreach (var collection in Model.collections)
                    {
                        <li><a asp-controller="Product" asp-action="ShopSearch" asp-route-searchname="@collection.CollectionName.Replace("/","").Replace(" ","").ToLower()">@collection.CollectionName</a></li>
                    }
                </ul>
            </div>
        </div>
 </div>
        <div class="menu-center">
            <a href="#" class="menu-logo">
                <a href="/"><img src="~/img/logo.webp" alt=""></a>
            </a>
        </div>

        <div class="menu-right">
            <!-- Search Icon -->
            <a href="#" class="menu-icon" id="search">
                <i class="bi bi-search"></i>
            </a>
            @if (user != null)
            {
                <!-- Cart Icon -->
                <a asp-controller="Cart" asp-action="CartIndex" class="menu-icon">
                    <i class="bi bi-cart"></i>
                <span class="cart-item-count">@Model.Cartitemcount</span> 
                </a>
            }
            else
            {
                <a asp-area="Identity" asp-page="/Account/Login" class="menu-icon">
                    <i class="bi bi-cart"></i>
                    <span class="cart-item-count">@Model.Cartitemcount</span> 
                </a>
            }
        </div>
</nav>

<!-- Mobile Menu End -->
<!-- Header Section Begin -->
<div class="header__top">
    <div class="container">
        <div class="row" style="display:block !important">
            <div class="col-lg-12 col-md-12 text-center">
                <a class="position-relative d-block" href="/collections/all" title="FREE SHIPPING ON ALL ORDERS!" style="color: #ffffff">
                    FREE SHIPPING ON ALL ORDERS!
                </a>
                <button type="button" class="close " aria-label="Close"><span aria-hidden="true">×</span></button>

            </div>
        </div>
    </div>
</div>

<div class="custom-sticky-container">
    <div class="row desktop-menu">
        <div class="col-lg-2 col-md-2">
            <div class="header__logo menu-center">
                <a href="/"><img src="~/img/logo.webp" style="width:150px;height:50px"></a>
            </div>
        </div>
        <div class="col-lg-8 col-md-8 text-center">
            <nav class="header__menu">
                <ul>
                    <li id="sanpham">
                        <a id="shopall" href="/shopall">SẢN PHẨM</a>
                        <ul class="dropdown">
                            @foreach (var category in Model.categories)
                            {
                                <li><a asp-controller="Product" asp-action="ShopSearch" asp-route-searchname="@category.CategoryName.Replace(" ","-").ToLower()">@category.CategoryName</a></li>
                            }
                        </ul>
                    </li>
                    <li id="bosuutap">
                        <a href="#">BỘ SƯU TẬP</a>
                        <ul class="dropdown">
                            @foreach (var collection in Model.collections)
                            {
                                <li><a asp-controller="Product" asp-action="ShopSearch" asp-route-searchname="@collection.CollectionName.Replace("/","").Replace(" ","").ToLower()">@collection.CollectionName</a></li>
                            }
                        </ul>
                    </li>
                    <li id="sale"><a id="shopsale" href="/Sale">SALE</a></li>
                    <li><a href="/thu-vien">THƯ VIỆN</a></li>
                    <li><a href="./contact.html">GIỚI THIỆU</a></li>

                </ul>
            </nav>
        </div>
        <div class="col-lg-2 col-md-2" style="padding-right:40px">
            <div class="header__nav__option">
                <a href="#" class="menu-icon" id="search">
                    <i class="bi bi-search"></i>
                </a>
                <ul>
                    <li>
                        <a href="/#" class="menu-icon" id="person" style="font-size:26px !important">
                            <i class="bi bi-person"></i>
                        </a>
                        <ul class="dropdown">
                            <li>
                                @await Html.PartialAsync("_LoginPartial")
                            </li>
                        </ul>
                    </li>
                </ul>
        
                @if (user != null)
                {
                    <!-- Cart Icon -->
                    <a asp-controller="Cart" asp-action="CartIndex" class="menu-icon">
                        <i class="bi bi-cart"></i>
                        <span class="cart-item-count">@Model.Cartitemcount</span> <!-- Hiển thị số lượng sản phẩm ở đây -->
                    </a>
                }
                else
                {
                    <a asp-area="Identity" asp-page="/Account/Login" class="menu-icon">
                        <i class="bi bi-cart"></i>
                        <span class="cart-item-count">@Model.Cartitemcount</span> <!-- Hiển thị số lượng sản phẩm ở đây -->
                    </a>
                }
             
              
            </div>
        </div>
    </div>
</div>

<div class="search-custom">
    <div class="menu-left-search">
        <a href="#" class="menu-logo-search">
            <a href="/"><img src="~/img/logo.webp" alt=""></a>
        </a>
    </div>
    <div class="menu-center-search">
        <form action="/search" method="get" id="search-form" style="max-width: 500px; width: 100%; position: relative;">
        <div class="search-form">
            <input type="text" id="search-input" name="query" class="search-input" placeholder="Tìm kiếm sản phẩm..." />
            <button type="submit" class="submit-search">
                <i class="fas fa-search" style="font-size: 20px; color: #555;"></i>
            </button>
       </div>
        </form>

        <div id="search-results" class="search-results"></div>
    </div>
    <div class="menu-right-search">
        <!-- Search Icon -->
        <a href="#" class="menu-icon" id="search-custom">
            <i class="bi bi-search"></i>
        </a>
        <ul>
            <li>
                <a href="/#" class="menu-icon" style="font-size:26px !important">
                    <i class="bi bi-person"></i>
                </a>
                <ul class="dropdown">
                    <li>
                        @await Html.PartialAsync("_LoginPartial")
                    </li>
                </ul>
            </li>
        </ul>

        @if (user != null)
        {
            <!-- Cart Icon -->
            <a asp-controller="Cart" asp-action="CartIndex" class="menu-icon">
                <i class="bi bi-cart"></i>
                <span class="cart-item-count">@Model.Cartitemcount</span> 
            </a>
        }
        else
        {
            <a asp-area="Identity" asp-page="/Account/Login" class="menu-icon">
                <i class="bi bi-cart"></i>
                <span class="cart-item-count">@Model.Cartitemcount</span> 
            </a>
        }
    </div>
</div>

<!-- Header Section End -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    const DomainCms = '@DomainCms';
 </script>
<script src="~/js/header.js"></script>
