@page
@model IcSoftShopAdmin.Pages.ManageCollection.IndexModel

<h2 class="my-4">Quản lý bộ sưu tập (Đang có @Model.TotalCollections.Count() bộ sưu tập)</h2>

<div class="page-component">
    <table class="table table-striped table-bordered table-hover">
        <thead class="position-sticky top-0 text-black" style="background-color: #d8e2ef;">
            <tr>
                <th colspan="8">
                   <a asp-page="/ManageCollection/Create" class="btn btn-primary">Thêm mới ?</a>
                </th>
            </tr>
            <tr>
                <th colspan="8">
                    <div class="filter-section" style="background-color: #d8e2ef;">
                        <div class="filter-item">
                            <label for="search">Tìm kiếm:</label>
                            <input type="text" id="search" class="form-control" placeholder="Nhập tên bộ sưu tập hoặc id bộ sưu tập" />
                        </div>
                    </div>
                </th>
            </tr>
        <tr>
            <th>ID</th>
            <th>Tên Bộ sưu tập</th>
            <th>Thao tác</th>
        </tr>
    </thead>
    <tbody class="collection-list-container">
        @foreach (var collection in Model.Collections)
        {
            <tr>
                <td>@collection.CollectionId</td>
                <td>@collection.CollectionName</td>
                <td>
                    <a asp-page="/ManageCollection/Update" asp-route-id="@collection.CollectionId" class="btn btn-warning btn-sm action-link" style="background-color: deepskyblue;">
                        <svg class="svg-inline--fa fa-edit fa-w-14" style="width: 20px; height: 20px;" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="edit" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" data-fa-i2svg="">
                            <path fill="currentColor" d="M402.6 83.2l90.2 90.2c3.8 3.8 3.8 10 0 13.8L274.4 405.6l-92.8 10.3c-12.4 1.4-22.9-9.1-21.5-21.5l10.3-92.8L388.8 83.2c3.8-3.8 10-3.8 13.8 0zm162-22.9l-48.8-48.8c-15.2-15.2-39.9-15.2-55.2 0l-35.4 35.4c-3.8 3.8-3.8 10 0 13.8l90.2 90.2c3.8 3.8 10 3.8 13.8 0l35.4-35.4c15.2-15.3 15.2-40 0-55.2zM384 346.2V448H64V128h229.8c3.2 0 6.2-1.3 8.5-3.5l40-40c7.6-7.6 2.2-20.5-8.5-20.5H48C21.5 64 0 85.5 0 112v352c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V306.2c0-10.7-12.9-16-20.5-8.5l-40 40c-2.2 2.3-3.5 5.3-3.5 8.5z">
                            </path>
                        </svg>
                    </a>
                    <button type="submit" onclick="deleteCollection(@collection.CollectionId)" class="btn btn-danger action-link" style="background-color: red">
                        <svg class="svg-inline--fa fa-trash-alt fa-w-14" aria-hidden="true" focusable=" false" data-prefix="fas" data-icon="trash-alt" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M32 464a48 48 0 0 0 48 48h288a48 48 0 0 0 48-48V128H32zm272-256a16 16 0 0 1 32 0v224a16 16 0 0 1-32 0zm-96 0a16 16 0 0 1 32 0v224a16 16 0 0 1-32 0zm-96 0a16 16 0 0 1 32 0v224a16 16 0 0 1-32 0zM432 32H312l-9.4-18.7A24 24 0 0 0 281.1 0H166.8a23.72 23.72 0 0 0-21.4 13.3L136 32H16A16 16 0 0 0 0 48v32a16 16 0 0 0 16 16h416a16 16 0 0 0 16-16V48a16 16 0 0 0-16-16z"></path></svg>
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>
</div>

<div class="pagination">
    @if (Model.CurrentPage > 1)
    {
        <a href="#" class="btn btn-secondary" onclick="changePage(@(Model.CurrentPage - 1))">Trang trước</a>
    }

    @for (int i = 1; i <= Model.TotalPages; i++)
    {
        <a href="#" class="btn @(i == 1 ? "btn-primary" : "btn-light")" onclick="changePage(@i)">@i</a>
    }

    @if (Model.CurrentPage < Model.TotalPages)
    {
        <a href="#" class="btn btn-secondary" onclick="changePage(@(Model.CurrentPage + 1))">Trang sau</a>
    }
</div>
@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
        <link href="~/css/style.css" rel="stylesheet" asp-append-version="true">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

    <script>
        function changePage(pageNumber) {

            event.preventDefault();

            $.ajax({
                url: '@Url.Page("/ManageCollection/Index")',
                type: 'GET',
                data: { pageNumber: pageNumber },
                success: function (response) {

                    $('.collection-list-container').html(renderCollectionList(response.collections));


                    $('.pagination').html(renderPagination(response.totalPages, response.currentPage));
                }
            });
        }

           function deleteCollection(collectionId) {
            if (confirm('Bạn có chắc muốn xóa danh mục này không?')) {
                $.ajax({
                    url: '/ManageCollection/Index?handler=Delete&id=' + collectionId,
                    type: 'GET',
                    data: { id: collectionId },
                    success: function (response) {
                        if (response.success) {
                            alert('Xóa danh mục thành công');
                            changePage(1);
                        } else {
                            alert('Xảy ra lỗi khi xóa danh mục');
                        }
                    },
                    error: function (error) {
                        alert('Lỗi khi xóa danh mục');
                    }
                });
            }
        }

        function renderCollectionList(collections) {
            var productHtml = '';
            if(collections.length > 0)
            {
            collections.forEach(function (collection) {

                productHtml += `
                 <tr>
                <td>${collection.collectionId}</td>
                <td>${collection.collectionName}</td>
                <td>
                    <a href="/ManageCollection/Update/${collection.collectionId}" class="btn btn-warning btn-sm action-link" style="background-color: deepskyblue;">
                        <svg class="svg-inline--fa fa-edit fa-w-14" style="width: 20px; height: 20px;" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="edit" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" data-fa-i2svg="">
                            <path fill="currentColor" d="M402.6 83.2l90.2 90.2c3.8 3.8 3.8 10 0 13.8L274.4 405.6l-92.8 10.3c-12.4 1.4-22.9-9.1-21.5-21.5l10.3-92.8L388.8 83.2c3.8-3.8 10-3.8 13.8 0zm162-22.9l-48.8-48.8c-15.2-15.2-39.9-15.2-55.2 0l-35.4 35.4c-3.8 3.8-3.8 10 0 13.8l90.2 90.2c3.8 3.8 10 3.8 13.8 0l35.4-35.4c15.2-15.3 15.2-40 0-55.2zM384 346.2V448H64V128h229.8c3.2 0 6.2-1.3 8.5-3.5l40-40c7.6-7.6 2.2-20.5-8.5-20.5H48C21.5 64 0 85.5 0 112v352c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V306.2c0-10.7-12.9-16-20.5-8.5l-40 40c-2.2 2.3-3.5 5.3-3.5 8.5z">
                            </path>
                        </svg>
                    </a>
                    <button type="submit" onclick="deleteCollection(${collection.collectionId})" class="btn btn-danger action-link" style="background-color: red">
                        <svg class="svg-inline--fa fa-trash-alt fa-w-14" aria-hidden="true" focusable=" false" data-prefix="fas" data-icon="trash-alt" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M32 464a48 48 0 0 0 48 48h288a48 48 0 0 0 48-48V128H32zm272-256a16 16 0 0 1 32 0v224a16 16 0 0 1-32 0zm-96 0a16 16 0 0 1 32 0v224a16 16 0 0 1-32 0zm-96 0a16 16 0 0 1 32 0v224a16 16 0 0 1-32 0zM432 32H312l-9.4-18.7A24 24 0 0 0 281.1 0H166.8a23.72 23.72 0 0 0-21.4 13.3L136 32H16A16 16 0 0 0 0 48v32a16 16 0 0 0 16 16h416a16 16 0 0 0 16-16V48a16 16 0 0 0-16-16z"></path></svg>
                    </button>
                </td>
            </tr>
        `;
            });
            }
            else
            {
           productHtml = `
            <tr>
                <td colspan="6" class="text-center">Không tìm thấy danh mục</td>
            </tr>
        `;

            }
            return productHtml;
        }

        function renderPagination(totalPages, currentPage) {
            var paginationHtml = '';
            if (currentPage > 1) {
                paginationHtml += '<a href="#" class="btn btn-secondary" onclick="changePage(' + (currentPage - 1) + ')">Trang trước</a>';
            }

            for (var i = 1; i <= totalPages; i++) {
                paginationHtml += '<a href="#" class="btn ' + (i === currentPage ? 'btn-primary' : 'btn-light') + '" onclick="changePage(' + i + ')">' + i + '</a>';
            }

            if (currentPage < totalPages) {
                paginationHtml += '<a href="#" class="btn btn-secondary" onclick="changePage(' + (currentPage + 1) + ')">Trang sau</a>';
            }

            return paginationHtml;
        }

          $(document).ready(function () {
            $('#search').on('keyup', function () {
                applyFilter(1);
            });

        });

        function applyFilter(pageNumber)
        {
          event.preventDefault();
             var search = $('#search').val();
            $.ajax({
                url: '/ManageCollection?handler=Filter',
                type: 'GET',
                data: {
                    pageNumber: pageNumber,
                    search: search
                      },
                success: function (response) {

                    $('.collection-list-container').html(renderCollectionList(response.collections));


                     $('.pagination').html(renderPaginationFilter(response.totalPages, response.currentPage));
                }
            });
        }

          function renderPaginationFilter(totalPages, currentPage) {
            var paginationHtml = '';
            if (currentPage > 1) {
                paginationHtml += '<a href="#" class="btn btn-secondary" onclick="applyFilter(' + (currentPage - 1) + ')">Trang trước</a>';
            }

            for (var i = 1; i <= totalPages; i++) {
                paginationHtml += '<a href="#" class="btn ' + (i === currentPage ? 'btn-primary' : 'btn-light') + '" onclick="applyFilter(' + i + ')">' + i + '</a>';
            }

            if (currentPage < totalPages) {
                paginationHtml += '<a href="#" class="btn btn-secondary" onclick="applyFilter(' + (currentPage + 1) + ')">Trang sau</a>';
            }

            return paginationHtml;
        }

    </script>
}



