@model IcSoft.Infrastructure.Models.Order

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card mb-4">
                <div class="card-header font-weight-bold">
                    THÔNG TIN ĐƠN HÀNG
                </div>
                <div class="card-body">
                    <p>ID đơn hàng: @Model.Id</p>
                    <p>Trạng thái: @Model.status</p>
                    <p>Phương thức thanh toán: @Model.PaymentMethod</p>
                    <hr />
                    @if (Model?.OrderItems != null && Model.OrderItems.Any())
                    {
                        @foreach (var item in Model.OrderItems)
                        {
                            <div class="media mb-3 d-flex align-items-center">

                                <img src="@item.Product.ProductImage.FirstOrDefault()?.ImageUrl" style="width: 60px; height: 60px" class="mr-3"></img>
                                <div class="media-body">
                                    <h5 class="mt-0">@item.Product.ProductName x @item.Quantity</h5>
                                    <p>Giá tiền: @String.Format("{0:0,0}₫", item?.Price * item.Quantity)</p>
                                </div>
                            </div>
                        }
                    }
                    else
                    {
                        <p>No order items available.</p>
                    }
                    <hr />
                    <p class="text-danger font-weight-bold">Tổng số tiền: @String.Format("{0:0,0}₫", Model.TotalAmount)</p>
                    
                    <a href="/" style="font-weight: 600"><i class="bi bi-house"></i> Back to Homepage</a>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card mb-4">
                <div class="card-header font-weight-bold">
                    THÔNG TIN KHÁCH HÀNG
                </div>
                <div class="card-body">
                    <p>Tên: @Model.ShopUser.FirstName @Model.ShopUser.LastName</p>
                    <p>Số điện thoại: @Model.ShopUser.PhoneNumber</p>
                    <p>Email: @Model.ShopUser.Email</p>
                    <p>Địa chỉ: @Model.ShippingAddress</p>
                    
                </div>
            </div>
        </div>
    </div>
</div>
