@page
@model IcSoftShopAdmin.Pages.ManageColor.IndexModel

<h2>Danh sách Màu sắc</h2>
<div class="filter-section">

    <div class="filter-item">
        <label for="search">Tìm kiếm:</label>
        <input type="text" id="search" class="form-control" placeholder="Nhập tên màu sắc hoặc mã màu sắc" />
    </div>
</div>
<h2>
    Đang có @Model.TotalColors.Count() màu sắc  <a asp-page="/ManageColor/Create" class="btn btn-primary">Thêm mới ?</a>
</h2>

<table class="table table-bordered" ">
    <thead style="background-color: #d8e2ef;">
        <tr>
            <th>ID</th>
            <th>Tên Màu Sắc</th>
            <th>Mã Màu </th>
            <th>Màu hiển thị </th>
            <th>Thao tác</th>
        </tr>
    </thead>
    <tbody class="color-list-container">
        @foreach (var color in Model.Colors)
        {
            <tr>
                <td>@color.ColorId</td>
                <td>@color.ColorName</td>
                <td>@color.ColorCode</td>
                <td>
                    <div style="width: 30px; height: 30px; background-color: @color.ColorCode; border: 1px solid #000;"></div>
                </td>
                <td>
                    <a asp-page="/ManageColor/Update" asp-route-id="@color.ColorId" class="btn btn-warning btn-sm action-link" style="background-color: deepskyblue;">
                        <svg class="svg-inline--fa fa-edit fa-w-14" style="width: 20px; height: 20px;" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="edit" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" data-fa-i2svg="">
                            <path fill="currentColor" d="M402.6 83.2l90.2 90.2c3.8 3.8 3.8 10 0 13.8L274.4 405.6l-92.8 10.3c-12.4 1.4-22.9-9.1-21.5-21.5l10.3-92.8L388.8 83.2c3.8-3.8 10-3.8 13.8 0zm162-22.9l-48.8-48.8c-15.2-15.2-39.9-15.2-55.2 0l-35.4 35.4c-3.8 3.8-3.8 10 0 13.8l90.2 90.2c3.8 3.8 10 3.8 13.8 0l35.4-35.4c15.2-15.3 15.2-40 0-55.2zM384 346.2V448H64V128h229.8c3.2 0 6.2-1.3 8.5-3.5l40-40c7.6-7.6 2.2-20.5-8.5-20.5H48C21.5 64 0 85.5 0 112v352c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V306.2c0-10.7-12.9-16-20.5-8.5l-40 40c-2.2 2.3-3.5 5.3-3.5 8.5z">
                            </path>
                        </svg>
                    </a>
                    <button type="submit" onclick="deleteColor(@color.ColorId)" class="btn btn-danger action-link" style="background-color: red">
                        <svg class="svg-inline--fa fa-trash-alt fa-w-14" aria-hidden="true" focusable=" false" data-prefix="fas" data-icon="trash-alt" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M32 464a48 48 0 0 0 48 48h288a48 48 0 0 0 48-48V128H32zm272-256a16 16 0 0 1 32 0v224a16 16 0 0 1-32 0zm-96 0a16 16 0 0 1 32 0v224a16 16 0 0 1-32 0zm-96 0a16 16 0 0 1 32 0v224a16 16 0 0 1-32 0zM432 32H312l-9.4-18.7A24 24 0 0 0 281.1 0H166.8a23.72 23.72 0 0 0-21.4 13.3L136 32H16A16 16 0 0 0 0 48v32a16 16 0 0 0 16 16h416a16 16 0 0 0 16-16V48a16 16 0 0 0-16-16z"></path></svg>
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="pagination">
    @if (Model.CurrentPage > 1)
    {
        <a href="#" class="btn btn-secondary" onclick="changePage(@(Model.CurrentPage - 1))">Trang trước</a>
    }

    @for (int i = 1; i <= Model.TotalPages; i++)
    {
        <a href="#" class="btn @(i == 1 ? "btn-primary" : "btn-light")" onclick="changePage(@i)">@i</a>
    }

    @if (Model.CurrentPage < Model.TotalPages)
    {
        <a href="#" class="btn btn-secondary" onclick="changePage(@(Model.CurrentPage + 1))">Trang sau</a>
    }
</div>
@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

    <script>
        function changePage(pageNumber) {

            event.preventDefault();

            $.ajax({
                url: '@Url.Page("/ManageColor/Index")',
                type: 'GET',
                data: { pageNumber: pageNumber },
                success: function (response) {

                    $('.color-list-container').html(renderColorList(response.colors));


                    $('.pagination').html(renderPagination(response.totalPages, response.currentPage));
                }
            });
        }

           function deleteColor(colorId) {
            if (confirm('Bạn có chắc muốn xóa danh mục này không?')) {
                $.ajax({
                    url: '/ManageColor/Index?handler=Delete&id=' + colorId,
                    type: 'GET',
                    data: { id: collectionId },
                    success: function (response) {
                        if (response.success) {
                            alert('Xóa danh mục thành công');
                            changePage(1);
                        } else {
                            alert('Xảy ra lỗi khi xóa danh mục');
                        }
                    },
                    error: function (error) {
                        alert('Lỗi khi xóa danh mục');
                    }
                });
            }
        }

        function renderColorList(colors) {
            var productHtml = '';
            if(colors.length > 0)
            {
            colors.forEach(function (color) {

                productHtml += `
                 <tr>
                <td>${color.colorId}</td>
                <td>${color.colorName}</td>
                <td>${color.colorCode}</td>
                <td>
                    <div style="width: 30px; height: 30px; background-color: ${color.colorCode}; border: 1px solid #000;"></div>
                </td>
                <td>
                    <a href="/ManageColor/Update/${color.colorId}" class="btn btn-warning btn-sm action-link" style="background-color: deepskyblue;">
                        <svg class="svg-inline--fa fa-edit fa-w-14" style="width: 20px; height: 20px;" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="edit" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" data-fa-i2svg="">
                            <path fill="currentColor" d="M402.6 83.2l90.2 90.2c3.8 3.8 3.8 10 0 13.8L274.4 405.6l-92.8 10.3c-12.4 1.4-22.9-9.1-21.5-21.5l10.3-92.8L388.8 83.2c3.8-3.8 10-3.8 13.8 0zm162-22.9l-48.8-48.8c-15.2-15.2-39.9-15.2-55.2 0l-35.4 35.4c-3.8 3.8-3.8 10 0 13.8l90.2 90.2c3.8 3.8 10 3.8 13.8 0l35.4-35.4c15.2-15.3 15.2-40 0-55.2zM384 346.2V448H64V128h229.8c3.2 0 6.2-1.3 8.5-3.5l40-40c7.6-7.6 2.2-20.5-8.5-20.5H48C21.5 64 0 85.5 0 112v352c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V306.2c0-10.7-12.9-16-20.5-8.5l-40 40c-2.2 2.3-3.5 5.3-3.5 8.5z">
                            </path>
                        </svg>
                    </a>
                    <button type="submit" onclick="deleteColor(${color.colorId})" class="btn btn-danger action-link" style="background-color: red">
                        <svg class="svg-inline--fa fa-trash-alt fa-w-14" aria-hidden="true" focusable=" false" data-prefix="fas" data-icon="trash-alt" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M32 464a48 48 0 0 0 48 48h288a48 48 0 0 0 48-48V128H32zm272-256a16 16 0 0 1 32 0v224a16 16 0 0 1-32 0zm-96 0a16 16 0 0 1 32 0v224a16 16 0 0 1-32 0zm-96 0a16 16 0 0 1 32 0v224a16 16 0 0 1-32 0zM432 32H312l-9.4-18.7A24 24 0 0 0 281.1 0H166.8a23.72 23.72 0 0 0-21.4 13.3L136 32H16A16 16 0 0 0 0 48v32a16 16 0 0 0 16 16h416a16 16 0 0 0 16-16V48a16 16 0 0 0-16-16z"></path></svg>
                    </button>
                </td>
            </tr>
        `;
            });
            }
            else
            {
           productHtml = `
            <tr>
                <td colspan="6" class="text-center">Không tìm thấy danh mục</td>
            </tr>
        `;

            }
            return productHtml;
        }

        function renderPagination(totalPages, currentPage) {
            var paginationHtml = '';
            if (currentPage > 1) {
                paginationHtml += '<a href="#" class="btn btn-secondary" onclick="changePage(' + (currentPage - 1) + ')">Trang trước</a>';
            }

            for (var i = 1; i <= totalPages; i++) {
                paginationHtml += '<a href="#" class="btn ' + (i === currentPage ? 'btn-primary' : 'btn-light') + '" onclick="changePage(' + i + ')">' + i + '</a>';
            }

            if (currentPage < totalPages) {
                paginationHtml += '<a href="#" class="btn btn-secondary" onclick="changePage(' + (currentPage + 1) + ')">Trang sau</a>';
            }

            return paginationHtml;
        }

          $(document).ready(function () {
            $('#search').on('keyup', function () {
                applyFilter(1);
            });

        });

        function applyFilter(pageNumber)
        {
          event.preventDefault();
             var search = $('#search').val();
            $.ajax({
                url: '/ManageColor?handler=Filter',
                type: 'GET',
                data: {
                    pageNumber: pageNumber,
                    search: search
                      },
                success: function (response) {

                    $('.color-list-container').html(renderColorList(response.colors));


                     $('.pagination').html(renderPaginationFilter(response.totalPages, response.currentPage));
                }
            });
        }

          function renderPaginationFilter(totalPages, currentPage) {
            var paginationHtml = '';
            if (currentPage > 1) {
                paginationHtml += '<a href="#" class="btn btn-secondary" onclick="applyFilter(' + (currentPage - 1) + ')">Trang trước</a>';
            }

            for (var i = 1; i <= totalPages; i++) {
                paginationHtml += '<a href="#" class="btn ' + (i === currentPage ? 'btn-primary' : 'btn-light') + '" onclick="applyFilter(' + i + ')">' + i + '</a>';
            }

            if (currentPage < totalPages) {
                paginationHtml += '<a href="#" class="btn btn-secondary" onclick="applyFilter(' + (currentPage + 1) + ')">Trang sau</a>';
            }

            return paginationHtml;
        }

    </script>
}

