@{
    ViewData["Title"] = "Check Out";
}
@using IcSoft.Infrastructure.Models
@inject IConfiguration Config
@{
    var DomainCms = Config["AppSettings:DomainCMS"];
}

<style>

    .bold-text {
        font-weight: 600 !important;
    }

    .form-label, h5, p, span, small {
        font-weight: 600;
    }

    .btn {
        font-weight: 600;
    }
</style>
 @if (Model == null) 
{
    <div class="text-center my-5">
        <div class="d-flex justify-content-center">
            <p class="d-flex align-items-center p-1 m-3" style="border: 1px solid orange; font-weight: 700; background-color: #F5F5F5; width: 80%"><img src="//bizweb.dktcdn.net/100/493/598/themes/946486/assets/cart_upsell_empty.png?1723284322959" alt="cart-upsell-empty" class="m-1"> Nhận ngay mã Coupon Giảm 5% cho đơn hàng từ 30.000.000đ. Mua sắm ngay nào!!!</p>
        </div>
       
        <img src="//bizweb.dktcdn.net/100/493/598/themes/946486/assets/cart_empty_background.png?1723284322959" class="img-fluid" width="298" height="152">
        <h5 class="bold-text">“Hổng” có gì trong giỏ hết</h5>
        <p class="text-muted">Về trang cửa hàng để chọn mua sản phẩm bạn nhé!!</p>
        <button class="px-4 py-3"><a asp-controller="Home" asp-action="Index">Mua sắm ngay</a></button>
    </div>
} 
 else
{ 
<form asp-controller="CheckOut" asp-action="Create" method="post" onsubmit="logFormData(event)">
        @if (Model is List<CartItem>)
        {
            <input type="hidden" name="isSingleProduct" value="false" />
        }
        else
        {
            <input type="hidden" name="isSingleProduct" value="true" />
        }
        <div class="row">
        <!-- User Info -->
        <div class="user-info col-lg-3 ml-5 col-md-12 pt-5">
            <div class="d-flex align-items-center justify-content-between">
                <h5 class="my-3 bold-text">Thông tin nhận hàng</h5>
                @if (User.Identity.IsAuthenticated)
                {
                    <a asp-area="Identity" asp-page="/Account/Logout" class="float-end" style="font-weight: bold; color: deepskyblue;"><i class="fas fa-user mr-2"></i>Đăng xuất</a>
                }
                else
                {
                    <a asp-controller="Account" asp-action="Login" class="float-end" style="font-weight: bold; color: deepskyblue;"><i class="fas fa-user mr-2"></i>Đăng nhập</a>
                }
            </div>
            
            <div class="mb-3">
                    <label class="form-label">Bạn có muốn điền thông tin từ hồ sơ của mình?</label>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="useProfileInfo" id="useProfileYes" value="yes" onclick="fillWithProfile()">
                        <label class="form-check-label" for="useProfileYes">Có</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="useProfileInfo" id="useProfileNo" value="no" checked onclick="clearProfileInfo()">
                        <label class="form-check-label" for="useProfileNo">Không</label>
                    </div>
            </div>
            <!-- Email -->
            <div class="mb-3">
                <label for="Email" class="form-label">Email</label>
                <input type="email" class="form-control" id="Email" name="Email" required placeholder = "Email...">
            </div>

            <!-- Full Name -->
            <div class="mb-3">
                <label for="FullName" class="form-label">Họ và tên</label>
                <input type="text" class="form-control" id="FullName" name="FullName" required placeholder="Họ và Tên">
            </div>

            <!-- Phone Number -->
            <div class="mb-3">
                <label for="PhoneNumber" class="form-label">Số điện thoại (tùy chọn)</label>
                <div class="input-group d-flex">
                    <input type="text" class="form-control" id="PhoneNumber" name="PhoneNumber" placeholder="Số điện thoại (tùy chọn)">
                    <span class="input-group-text">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/21/Flag_of_Vietnam.svg/20px-Flag_of_Vietnam.svg.png" alt="Vietnam Flag">
                    </span>
                </div>
            </div>

            <!-- Address (optional) -->
            <div class="mb-3">
                <label for="Address" class="form-label">Địa chỉ (tùy chọn)</label>
                <input type="text" class="form-control" id="Address" name="ShippingAddress">
            </div>

            <!-- Notes -->
            <div class="mb-3">
                <label for="Notes" class="form-label">Ghi chú (tùy chọn)</label>
                <textarea class="form-control" id="Notes" name="Notes" rows="2"></textarea>
            </div>
        </div>

       
        <div class="payment col-lg-4 col-md-12 pt-5">
            <h5 class="my-3 bold-text">Vận chuyển</h5>
            <div class="form-check border p-3">
                <div class="mx-3 d-flex align-items-center justify-content-between">
                    <input class="form-check-input" type="radio" name="ShippingMethod" id="freeship" value="freeship" checked>
                    <span>Freeship</span>
                    <label class="form-check-label d-flex justify-content-between align-items-center" for="freeship">
                        <span>Miễn phí</span>
                    </label>
                </div>
            </div>

            <h5 class="my-3 bold-text">Thanh Toán</h5>
            <div class="form-check border p-3">
                <div class="mx-3 d-flex align-items-center justify-content-between"> 
                    <input class="form-check-input" type="radio" name="PaymentMethod" id="bankTransfer" value="Chuyển Khoản" onclick="toggleInstructions()">
                    <span>Chuyển khoản</span>
                    <label class="form-check-label d-flex justify-content-between align-items-center" for="bankTransfer">
                        <i class="bi bi-cash payment-icon" style="color: deepskyblue; font-size: 25px"></i>
                    </label>
                </div>
                <div id="bankInstructions" style="display: none;margin-left: 10px" class="mt-4">
                    <h5 class="bold-text">HƯỚNG DẪN THANH TOÁN:</h5>
                    <ol>
                        <li>Quét mã QR thanh toán bằng ứng dụng Mobile Banking.</li>
                        <li>Chuyển khoản chính xác số tiền tổng hóa đơn.</li>
                        <li>Chụp lại màn hình chuyển khoản thành công.</li>
                        <li>Gửi mình chứng cho Fanpage Facebook hoặc Instagram của Leninn Skate Shop kèm [Họ và tên của bạn].</li>
                        <li>Bộ phận bán hàng sẽ liên hệ để xác nhận đơn hàng sau khi có thông tin chuyển khoản.</li>
                        <img src="https://upload.wikimedia.org/wikipedia/commons/d/d0/QR_code_for_mobile_English_Wikipedia.svg" alt="QR Code" style="width:100%; max-width:400px;">
                    </ol>
                </div>
            </div>

            <div class="form-check border p-3">
                <div class="mx-3 d-flex align-items-center justify-content-between">
                    <input class="form-check-input" type="radio" name="PaymentMethod" id="cod" value="Thu hộ (COD)">
                    <span>Thu hộ (COD)</span>
                    <label class="form-check-label d-flex justify-content-between align-items-center" for="cod">
                        <i class="bi bi-cash payment-icon" style="color: deepskyblue; font-size: 25px"></i>
                    </label>
                </div>
            </div>
        </div>

        <!-- Order Summary -->
        <div class="order-container border rounded col-lg-4 col-md-12 order-summary pt-5" style="background-color: #fafafa;">
            <h5 class="mb-4 bold-text">Đơn hàng </h5>
            <hr>

                @if (Model is List<CartItem>)
                    {
                    @foreach (var item in Model)
                    {
                        <div class="d-flex justify-content-between align-items-center mb-3">
                            <div class="d-flex align-items-center">
                                <!-- Hiển thị ảnh sản phẩm -->
                                <img src="@DomainCms/@item.ProductImageUrl" class="img-fluid mr-3" style="width: 60px; height: 60px;" alt="@item.ProductName" />
                                <div class="ms-2">
                                    <p class="mb-0">@item.ProductName</p>
                                    <div><small class="text-muted">Số lượng: @item.Quantity</small></div>

                                    <!-- Hiển thị màu sắc -->
                                    @if (!string.IsNullOrEmpty(item.Color))
                                    {
                                        <div><small class="text-muted">Màu sắc: @item.Color</small></div>
                                    }

                                    <!-- Hiển thị kích cỡ -->
                                    @if (!string.IsNullOrEmpty(item.Size))
                                    {
                                        <small class="text-muted">Kích cỡ: @item.Size</small>
                                    }
                                </div>
                            </div>
                            <!-- Hiển thị giá tiền -->
                            <p>@((item.Price * item.Quantity).ToString("N0"))₫</p>
                        </div>
                    }

                }
                else
                {
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <div class="d-flex align-items-center">

                            <img src="@DomainCms/@Model.ProductImageUrl" class="img-fluid mr-3" style="width: 60px; height: 60px;" alt="@Model.ProductName" />
                            <div class="ms-2">
                             
                                <p class="mb-0">@Model.ProductName</p>
                                <small class="text-muted">Số lượng: @Model.Quantity</small>
                            </div>
                        </div>
                        <p>@((Model.Price * Model.Quantity).ToString("N0"))₫</p>
                    </div>
                }

            <hr>


            <form id="couponForm" class="d-flex align-items-center mb-3">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Nhập mã giảm giá" id="Coupon" name="Coupon" style="flex: 2; min-height: 50px;">
                    <button type="button" class="btn btn-primary" style="color: white; background-color: black; margin-left: 8px;" onclick="applyCoupon()">Áp dụng</button>
                </div>
            </form>

            <div id="couponMessage" class="alert alert-info mt-3" style="display: none;"></div>

            <hr>

           
          
            <div class="d-flex justify-content-between align-items-center mb-2">
                <p class="mb-0">Tạm tính</p>
                <p></p>
            </div>

        
            <div class="d-flex justify-content-between align-items-center mb-2">
                <p class="mb-0">Phí vận chuyển</p>
                <p>0₫</p>
            </div>
            <hr>

         
                @if (Model is List<CartItem>)
                {
          
            <div class="d-flex justify-content-between align-items-center">
                <p class="mb-0">Tổng cộng</p>
                <div style="flex: 1; text-align: right;">
                   
                    <span id="FormattedTotalAmount" style="font-size: 1.5rem; color: #FF3D00;"></span>
                   
                    <input type="hidden" id="TotalAmount" name="TotalAmount">
                </div>
                    </div>
                }
                else
                {
                    <div class="d-flex justify-content-between align-items-center">
                        <p class="mb-0">Tổng cộng</p>
                        <div style="flex: 1; text-align: right;">
                      
                            <span style="font-size: 1.5rem; color: #FF3D00;">@Model.TotalPrice.ToString("N0")₫</span>
                          
                            <input type="hidden" name="TotalAmount" value="@Model.TotalPrice">
                        </div>
                    </div>
                }

           
            <div class="d-flex justify-content-end" >
                <button type="submit" class="btn btn-primary mt-3" style="background-color: black; color: white; margin-bottom: 200px">Hoàn tất đặt hàng</button>
            </div>
        </div>
    </div>
</form>
 } 
<script>

    function toggleInstructions() {
        var instructions = document.getElementById("bankInstructions");
        instructions.style.display = instructions.style.display === "none" ? "block" : "none";
    }

  
    function logFormData(event) {
        event.preventDefault();

        const form = event.target;
        const formData = new FormData(form);

      
        for (const [key, value] of formData.entries()) {
            console.log(`${key}: ${value}`);
        }

       
        form.submit();
    }

 
    function fetchTotalAmount() {
        fetch('@Url.Action("GetTotalAmount", "CheckOut")', {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json',
            }
        })
            .then(res => res.json())
            .then(data => {
                if (data && data.totalAmount) {
                    const formattedValue = `${data.totalAmount.toLocaleString()}₫`;
                    document.getElementById("FormattedTotalAmount").innerText = formattedValue;
                    document.getElementById("TotalAmount").value = data.totalAmount;
                }
            })
            .catch(error => console.error('Error fetching total amount:', error));
    }

    
    document.addEventListener('DOMContentLoaded', function () {
        fetchTotalAmount();
    });

    function applyCoupon() {
        const couponCode = document.getElementById("Coupon").value;
        fetch('@Url.Action("ApplyCoupon", "CheckOut")', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(couponCode)
        })
            .then(res => res.json())
            .then(data => {
                if (data && data.discountedTotal && data.message) {
                    const formattedValue = `${data.discountedTotal.toLocaleString()}₫`;
                    document.getElementById("FormattedTotalAmount").innerText = formattedValue;
                    document.getElementById("TotalAmount").value = data.discountedTotal;

                    const messageElement = document.getElementById("couponMessage");
                    if (messageElement) {
                        messageElement.innerText = data.message;
                        messageElement.style.display = "block";
                    }
                }
            })
            .catch(error => console.error('Error applying coupon:', error));
    }

   
    function fillWithProfile() {
        $.ajax({
            url: '@Url.Action("GetUserProfileAndCart", "CheckOut")',
            method: 'GET',
            success: function (data) {
                if (data.success) {
                    $('#Email').val(data.user.email);
                    $('#FullName').val(data.user.firstName);  
                    $('#PhoneNumber').val(data.user.phoneNumber);
                    $('#Address').val(data.user.address);
                    console.log(data.user.phoneNumber)
                } else {
                    alert(data.user);
                }
            },
            error: function () {
                alert('There was an error fetching the data.');
            }
        });
    }
   
   
    function clearProfileInfo() {
        $('#Email').val('');
        $('#FullName').val('');
        $('#PhoneNumber').val('');
        $('#Address').val('');
    }
</script>

